.wrapper {
  position: relative;
  --animate-color: color-mix(in srgb, #aaa 15%, transparent);
  --animate-color-bg: color-mix(in srgb, #aaa 30%, transparent);
}

.wrapper--visible::before,
.wrapper--visible::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: var(--tgui--z-index--simple);
}

.wrapper::before {
  background: var(--tgui--secondary_bg_color);
}

.wrapper:not(.wrapper--noAnimation)::after {
  z-index: var(--tgui--z-index--skeleton);
  background: linear-gradient(120deg, var(--animate-color-bg) 10%, var(--animate-color) 25%,var(--animate-color) 35%, var(--animate-color-bg) 90%); 
  animation: fade 50s linear infinite alternate;
}

@keyframes fade {
  0% {
    background-position: -10000px 0;
  }
  100% {
    background-position: 10000px 0;
  }
}

